# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

nba_stats = pd.read_csv('nbastats2018-2019.csv')
nba_stats.head()

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
0,Alex Abrines,78,200,Oklahoma City Thunder,25,5455236,5.3,0.2,0.5,0.6,...,19.0,31,6.3,0.1,0.6,0.6,0.053,12.2,-3.4,-0.2
1,Quincy Acy,79,240,Phoenix Suns,28,213949,1.7,0.4,0.1,0.8,...,12.3,10,2.9,-0.1,0.0,-0.1,-0.022,9.2,-5.9,-0.1
2,Jaylen Adams,74,190,Atlanta Hawks,22,236854,3.2,0.1,0.4,1.9,...,12.6,34,7.6,-0.1,0.2,0.1,0.011,13.5,-4.4,-0.3
3,Steven Adams,84,265,Oklahoma City Thunder,25,24157304,13.9,1.0,1.5,1.6,...,33.4,80,18.5,5.1,4.0,9.1,0.163,16.4,2.7,3.2
4,Bam Adebayo,82,255,Miami Heat,21,2955840,8.9,0.8,0.9,2.2,...,23.3,82,17.9,3.4,3.4,6.8,0.171,15.8,3.0,2.4

# What player scored the most points?

In [17]:
nba_stats_points = nba_stats.groupby(['Name', 'Points']).head()
nba_stats_points.sort_values('Points', ascending=False)

# James Harden had the most points

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
202,James Harden,77,220,Houston Rockets,29,30431854,36.1,0.7,2.0,7.5,...,36.8,78,30.6,11.4,3.8,15.2,0.254,40.5,11.7,9.9
179,Paul George,81,220,Oklahoma City Thunder,28,30560700,28.0,0.4,2.2,4.1,...,36.9,77,23.3,7.0,4.9,11.9,0.201,29.5,5.5,5.3
15,Giannis Antetokounmpo,83,242,Milwaukee Bucks,24,24157304,27.7,1.5,1.3,5.9,...,32.8,72,30.9,8.9,5.5,14.4,0.292,32.3,10.8,7.6
151,Joel Embiid,84,250,Philadelphia 76ers,24,25467250,27.5,1.9,0.7,3.7,...,33.7,64,26.1,4.9,3.8,8.7,0.194,33.3,4.1,3.3
253,LeBron James,80,250,Los Angeles Lakers,34,35654150,27.4,0.6,1.3,8.3,...,35.2,55,25.6,4.7,2.6,7.2,0.179,31.6,8.1,4.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Donte Grantham,80,215,NaN,23,-,0.0,0.0,0.0,0.0,...,0.7,3,-38.1,0.0,0.0,0.0,-0.946,40.7,-38.9,0.0
242,Andre Ingram,75,190,Los Angeles Lakers,33,76236,0.0,0.0,0.3,0.0,...,3.8,4,-11.9,-0.1,0.0,-0.1,-0.408,19.3,-19.9,-0.1
498,Okaro White,80,205,Washington Wizards,26,264919,0.0,0.0,0.0,0.0,...,2.0,3,-4.5,0.0,0.0,0.0,-0.251,14.1,-19.2,0.0
442,Kobi Simmons,77,166,Cleveland Cavaliers,21,76236,0.0,0.0,0.0,0.0,...,2.0,1,0.0,0.0,0.0,0.0,-0.033,0.0,-7.3,0.0
14,Ike Anigbogu,82,250,Indiana Pacers,20,1378242,0.0,0.3,0.0,0.3,...,2.0,3,-6.0,-0.1,0.0,-0.1,-0.480,29.1,-14.0,0.0

# What player had the most blocks during the season? Was it a post player (F/C)?

In [72]:
nba_stats_blocks = nba_stats.groupby('Name')['Blocks'].max().sort_values(ascending=False)
nba_stats_blocks

Name
Myles Turner             2.7
Anthony Davis            2.4
Mitchell Robinson        2.4
Rudy Gobert              2.3
Brook Lopez              2.2
                        ...
Sviatoslav Mykhailiuk    0.0
Furkan Korkmaz           0.0
Frank Jackson            0.0
Matthew Dellavedova      0.0
Zhou Qi                  0.0
Name: Blocks, Length: 521, dtype: float64

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [44]:
# I do not see a stat that corresponds to the win percentage here.  I don't even see the stats needed for the formula of
# W / GP.  

# If the columns needed were there, the code would be:

# nba_stats['Win%'] = nba_stats['W'] / nba_stats['GP']

# nba_stats_Win_per = nba_stats_win_per.groupby(['Name', 'Win%']).head()

# nba_stats_Win_per

Index(['Name', 'Height', 'Weight', 'Team', 'Age', 'Salary', 'Points', 'Blocks',
       'Steals', 'Assists', 'Rebounds', 'FT%', 'FTA', 'FG3%', 'FG3A', 'FG%',
       'FGA', 'MP', 'G', 'PER', 'OWS', 'DWS', 'WS', 'WS48', 'USG', 'BPM',
       'VORP'],
      dtype='object')

# What player had the best 3-pt percentage?

In [40]:
nba_stats_3pt = nba_stats.sort_values(by='FG3%', ascending=False).filter(['Name', 'FG3%'])
nba_stats_3pt.head(5)

              Name   FG3%
312  Scott Machado  1.000
439  Jordan Sibert  1.000
147   Trevon Duval  1.000
352  Eric Moreland  1.000
95    Troy Caupain  0.667

In [41]:
nba_stats.keys()

Index(['Name', 'Height', 'Weight', 'Team', 'Age', 'Salary', 'Points', 'Blocks',
       'Steals', 'Assists', 'Rebounds', 'FT%', 'FTA', 'FG3%', 'FG3A', 'FG%',
       'FGA', 'MP', 'G', 'PER', 'OWS', 'DWS', 'WS', 'WS48', 'USG', 'BPM',
       'VORP'],
      dtype='object')

# Who played the most minutes during the season

In [42]:
nba_stats_MP = nba_stats.sort_values(by='MP', ascending=False).filter(['Name', 'MP'])
nba_stats_MP.head(5)

                  Name    MP
179        Paul George  36.9
37        Bradley Beal  36.9
202       James Harden  36.8
496  Russell Westbrook  36.0
226       Jrue Holiday  35.9

# What player given their player effiecency rating was the clutchest during the season?

In [70]:
nba_stats_win_percentage = nba_stats.groupby('Name')['PER'].max().sort_values(ascending=False)
nba_stats_win_percentage

# Zhou Qi had the highest PER.

Name
Zhou Qi                  80.4
Trevon Duval             38.3
Gary Payton II           36.9
Alan Williams            32.9
Giannis Antetokounmpo    30.9
                         ...
Okaro White              -4.5
Ike Anigbogu             -6.0
Andre Ingram            -11.9
Terrence Jones          -15.8
Donte Grantham          -38.1
Name: PER, Length: 521, dtype: float64

# What team had the youngest roster?

In [65]:
nba_stats_youngest = nba_stats.groupby('Team')['Age'].mean().sort_values()

nba_stats_youngest

Team
Chicago Bulls             24.312500
Sacramento Kings          24.400000
Orlando Magic             24.533333
New York Knicks           24.625000
Phoenix Suns              24.761905
Portland Trail Blazers    24.857143
Indiana Pacers            25.058824
Denver Nuggets            25.266667
Brooklyn Nets             25.555556
Boston Celtics            25.600000
Memphis Grizzlies         25.647059
Oklahoma City Thunder     25.750000
New Orleans Pelicans      25.777778
Cleveland Cavaliers       26.000000
Charlotte Hornets         26.000000
Detroit Pistons           26.266667
Philadelphia 76ers        26.352941
Atlanta Hawks             26.476190
Los Angeles Lakers        26.625000
Minnesota Timberwolves    26.625000
Washington Wizards        26.764706
Milwaukee Bucks           26.928571
Los Angeles Clippers      27.105263
Utah Jazz                 27.133333
Toronto Raptors           27.166667
Golden State Warriors     27.866667
Dallas Mavericks          27.866667
Houston Rockets           27.923077
San Antonio Spurs         28.133333
Miami Heat                28.181818
Name: Age, dtype: float64

In [73]:
nba_stats.keys()

Index(['Name', 'Height', 'Weight', 'Team', 'Age', 'Salary', 'Points', 'Blocks',
       'Steals', 'Assists', 'Rebounds', 'FT%', 'FTA', 'FG3%', 'FG3A', 'FG%',
       'FGA', 'MP', 'G', 'PER', 'OWS', 'DWS', 'WS', 'WS48', 'USG', 'BPM',
       'VORP'],
      dtype='object')

# Who is the highest paid player during the seasion?

In [87]:
# nba_stats_salary = nba_stats.groupby('Name')['Salary'].max().sort_values()
# nba_stats_salary

# I had to convert the Salary data to numeric as it was reading for this code as a string
nba_stats['Salary'] = pd.to_numeric(nba_stats['Salary'], errors='coerce')

nba_stats_salary = nba_stats.groupby('Name')['Salary'].max().sort_values(ascending=False)

nba_stats_salary.head(15)

Name
Stephen Curry        37457154.0
Chris Paul           35654150.0
LeBron James         35654150.0
Russell Westbrook    35654150.0
Blake Griffin        32088932.0
Gordon Hayward       31214295.0
Kyle Lowry           31200000.0
Paul George          30560700.0
Mike Conley          30521116.0
James Harden         30431854.0
Kevin Durant         30000000.0
Paul Millsap         29730769.0
Al Horford           28928710.0
Damian Lillard       27977689.0
DeMar DeRozan        27739975.0
Name: Salary, dtype: float64

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [89]:
nba_stats_free_throw = nba_stats.groupby(['Name', 'FT%', 'FTA']).min()

nba_stats_free_throw.sort_values('FT%', ascending=True)

,,,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,Rebounds,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
Name,FT%,FTA,,,,,,,,,,,,,,,,,,,,,
Jacob Evans,0.0,0.0,78,210,Golden State Warriors,21,1644240.0,1.3,0.1,0.2,0.8,0.8,...,6.8,30,3.5,-0.3,0.2,-0.1,-0.030,13.5,-6.9,-0.3
Tahjere McCall,0.0,1.0,77,195,Brooklyn Nets,24,47371.0,4.0,0.0,0.0,0.0,1.0,...,8.0,1,9.6,0.0,0.0,0.0,0.055,18.1,-9.8,0.0
Terrence Jones,0.0,0.5,81,252,Houston Rockets,27,198580.0,1.0,0.0,0.0,0.0,2.0,...,2.5,2,-15.8,-0.1,0.0,-0.1,-0.661,47.2,-52.3,-0.1
Donatas Motiejunas,0.0,0.7,84,222,San Antonio Spurs,28,59820.0,2.0,0.3,0.0,0.3,1.0,...,4.3,3,-0.5,-0.1,0.0,-0.1,-0.246,33.5,-11.5,0.0
Haywood Highsmith,0.0,0.4,79,220,NaN,22,NaN,1.8,0.0,0.2,0.4,1.0,...,8.0,5,4.5,0.0,0.0,0.0,-0.023,12.4,-7.3,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jimmer Fredette,1.0,1.0,74,195,Phoenix Suns,29,198580.0,3.7,0.0,0.5,1.3,1.2,...,10.8,6,3.6,-0.2,0.0,-0.2,-0.166,24.2,-11.1,-0.1
Gary Clark,1.0,0.1,80,225,NaN,24,NaN,2.9,0.5,0.4,0.4,2.3,...,12.6,51,9.2,0.3,0.7,1.0,0.071,10.9,-1.8,0.0
Kalin Lucas,1.0,2.0,73,195,NaN,29,NaN,2.0,0.0,0.0,1.0,3.0,...,6.0,1,16.6,0.0,0.0,0.0,0.238,13.5,-0.6,0.0
Dusty Hannahs,1.0,1.0,75,210,Memphis Grizzlies,25,47371.0,4.0,0.0,0.5,2.5,0.5,...,13.0,2,4.5,-0.1,0.0,-0.1,-0.125,23.9,-12.2,-0.1
Tyler Cavanaugh,1.0,0.2,81,238,NaN,24,NaN,0.8,0.0,0.0,0.1,0.7,...,3.5,11,5.0,0.0,0.0,0.0,0.026,13.0,-6.9,0.0